<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>znk.naqrefra@tznvy.pbz</string>
	<key>contactName</key>
	<string>Max Rydahl Andersen</string>
	<key>description</key>
	<string>Commands for the MailMan mailing list software.</string>
	<key>name</key>
	<string>Enhanced MailMan</string>
	<key>uuid</key>
        <string>EC81B9E9-4AAF-4342-8A15-761027EA5E57</string>
</dict>
</plist>
